[Unit]
Description=Aperture Labs Service
After=mongod.service network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=cserver
WorkingDirectory=/path/to/your/install/directory
ExecStart=/path/to/your/install/directory/venv/bin/python3.11 /path/to/your/install/directory/main.py -t protoken --no-dboveride

[Install]
WantedBy=multi-user.target
